body {
  font-family: Kristen ITC;
  background-color: #6d0c6f;
  background-image: url('../img/gif7.gif');
  background-size: contain;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swal2-shown {
  font-family: Papyrus, Papyrus;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgb(74, 163, 36, 0.5);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

button {
  font-family: Papyrus;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #75219c;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f9bc67;
}